*{
    padding: 0;
    margin: 0 auto;
}
/*-------DECORATIVOS HEADER--------*/
.head{
display: inline-block;
}

.barra{
    font-size: 10px;
}

p{
    font-size: 12px;
}

.title-movistar{
    font-size: 12px;
    margin-left: 10px;
}

.edit{
    margin-top: 2rem;
    position: absolute;
    margin-left: 70%;
    background-color: #E3E3E4;
    color: black;
}

.btn-menu{
    position: absolute;
}

.btn-large{
    width: 100%;
}

.btn:hover,
.btn-large:hover{
    background-color: gray;
    color: whitesmoke;
}

.card-title{
    text-align: center;
}

.yayi{
    display: inline-block;
    font-size: 15px;
}

p.yayi.p{
    margin-top: 10px;
}

