/*-------DECORATIVOS HEADER--------*/
.head{
display: inline-block;
}

.barra{
  font-size: 10px;
}

p{
  font-size: 12px;
}

.title-movistar{
  font-size: 12px;
  margin-left: 10px;
}

.perfil{
    width: 50px;
    height: 50px;
}

/*-------mapa --------*/
.box-conductor button,
.box-conductor p{
  font-family: 'Open Sans', sans-serif;
}
.tarifas{
  padding: 50px 0;
}

#tarifa{
  position:absolute;
  bottom: 0;
  z-index: 100; 
}

.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #ab47bc;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    width: 100%;
  }
    
#mapa{
  height: 590px;
  z-index: 10;
}
.border-mapa{
  padding: 10px;
  border: 1px solid #ffffff;
}